# AoC puzzle inputs
input.txt

# Binaries
*.exe
*.out
*.dll
*.so
*.dylib

# clangd LPS
**/.cache/
.clangd
compile_commands.json

# Object files
*.o
*.obj
*.cuo

# Build directories
**/build/
**/bin/

# editor directores
**/.zed/

# editor files
.zed

# Temp files
*.cache
